{% extends 'base.html.twig' %}

{% block title %}Produktkatalog{% endblock %}

{% block body %}
    <main>
        <h1>Produktkatalog</h1>
        <p>Mein erstes Symfony-Projekt.</p>
    </main>
{% endblock %}