{% extends 'base.html.twig' %}

{% block title %}Produktkatalog{% endblock %}

{% block body %}
    <main class="home">
        <section class="hero">
            <p class="eyebrows">Nachhaltig leben</p>

            <h1>Produkte für einen bewussten Alltag.</h1>
        </section>
    </main>
{% endblock %}