<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Produktkatalog{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="/styles.css">
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <header>
            <a href="{{ path('app_home') }}">Home</a>
            <a href="{{ path('app_product_index') }}">Produkte</a>
        </header>

        {% block body %}{% endblock %}
    </body>
</html>
